<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMachineLearning"
        tools:targetApi="31">
        <activity
            android:name=".smartreply_mlkit.ui.activity.MainSmartReplyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".textclassification.ui.activity.MainTextClassificationActivity"
            android:exported="false"/>
        <activity
            android:name=".audioclassification.ui.activity.MainAudioClassificationActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_mediapipe.ui.ResultImageClassificationMediaPipeActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_mediapipe.ui.MainImageClassificationMediaPipeActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_mediapipe.ui.CameraImageClassificationMediaPipeActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_prediction.ui.activity.MainImageClassificationPredictionActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_object_detection.ui.activity.ResultImageClassificationObjectDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_object_detection.ui.activity.CameraImageClassificationObjectDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_object_detection.ui.activity.MainImageClassificationObjectDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_google_play.ui.activity.ResultImageClassificationUnbundledActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_google_play.ui.activity.MainImageClassificationUnbundledActivity"
            android:exported="false" />
        <activity
            android:name=".image_classification_google_play.ui.activity.CameraImageClassificationUnbundledActivity"
            android:exported="false" />
        <activity
            android:name=".imageclassification.ui.activity.ResultImageClassificationTFLiteActivity"
            android:exported="false" />
        <activity
            android:name=".imageclassification.ui.activity.MainImageClassificationTFLiteActivity"
            android:exported="false" />
        <activity
            android:name=".imageclassification.ui.activity.CameraImageClassificationTFLiteActivity"
            android:exported="false" />
        <activity
            android:name=".barcodescanning.ui.activity.MainBarcodeScanningActivity"
            android:exported="false" />
        <activity
            android:name=".barcodescanning.ui.activity.CameraBarcodeScanningActivity"
            android:exported="false" />
        <activity
            android:name=".barcodescanning.ui.activity.ResultBarcodeScanningActivity"
            android:exported="false" />
        <activity
            android:name=".translation.ui.activity.MainTranslationActivity"
            android:exported="false" />
        <activity
            android:name=".translation.ui.activity.ResultTranslationActivity"
            android:exported="false" />
        <activity
            android:name=".translation.ui.activity.CameraTranslationActivity"
            android:exported="false" />
        <activity
            android:name=".textrecognition.ui.activity.CameraTextRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".textrecognition.ui.activity.MainTextRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".textrecognition.ui.activity.ResultTextRecognitionActivity"
            android:exported="false" />
        <activity
            android:name=".onlineimageclassification.ui.activity.MainImageClassificationActivity"
            android:exported="false" />
        <activity
            android:name=".onlineimageclassification.ui.activity.CameraImageClassificationActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Trigger Google Play services to install the backported photo picker module. -->
        <!-- suppress AndroidDomInspection -->
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>

            <meta-data
                android:name="photopicker_activity:0:required"
                android:value="" />
        </service>
    </application>

</manifest>